@media screen and (max-width: 510px) {
  .box {
    width: 95%;
  }

  .container input {
    width: 75%;
  }
}

@media screen and (max-width: 425px) {
  .container input {
    width: 70%;
  }

  .task p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 375px) {
  .container input {
    width: 68%;
    font-size: 0.9rem;
  }

  .container button {
    width: 25%;
    font-size: 0.9rem;
  }

  .task p {
    font-size: 1.1rem;
  }
}
